.comment__container {
  overflow-y: scroll;
  height: 250px;
  padding: 5px auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.comment__container:first-child {
  margin-top: 10px;
}

.comment__item__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.comment__profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment__item__content {
  background-color: #fafafa;
  border-radius: 20px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 1.5rem;
}

.comment__text {
}
