.picker-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 40%;
}
.picker-group > * {
  margin: 30px;
}

.toolbox {
  display: flex;
  margin-left: 80px;
}
.toolbox > * {
  margin: 50px;
}
.unit-kpi-container {
  padding: 50px;
}
