.picker-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 40%;
}
.picker-group > * {
  margin: 30px;
}

.toolbox {
  display: flex;
  margin-left: 80px;
}
.toolbox > * {
  margin: 50px;
}
.unit-kpi-container {
  padding: 50px;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: stretch;
}
.input-group label span {
  color: #ff0000;
}
.modal-toolbox {
  display: flex;
  justify-content: flex-end;
}
